body{
    text-align: center;
    background-color: #F0EBE3;
    color: #576F72;
}
.upper{
    text-align: center;
}
h1{
    display: inline-block;
    color: green;
    border: 2px solid darkgray;
    padding: 8px;
    border-radius: 20px;
    background-color: #E4DCCF;
}
h2{
    color: green;
    border: 2px solid darkgray;
    padding: 8px;
    border-radius: 20px;
    background-color: #E4DCCF
}
h3{
    color: #4CBB17;
}
hr{
    border-top: dotted 8px;
    width: 25%;
}
.middle{
    text-align: center;
}
.bottom{
    text-align: center;
    border: 3px solid #576F90;
    border-radius: 10px 10px 0 0;
    background-color: #576F72;
    color: #F0EBE3;
}
